.plan{
    display: flex;
    justify-content: space-evenly;
    width: 1500px;
    height: 300px;
    
}
body{
background-image: url(https://wallpaperaccess.com/full/378839.png);
    background-size: cover;
    background-repeat: no-repeat;
}
img{
    transition: transform .2s;
    border-radius: 30%;
    
}
img:hover{
    transform:scale(1.5);
}